<html layout:decorate="~{layout}">
    <main layout:fragment="content">
        <!--상단-->
        <div style="background-color: #F4E9E3">
            <div class="container py-2">

                <!--수정해야할 부분-->
                <span class="" style="color: #555; font-family: 'HakgyoansimWoojuR'; padding-left: 8px">소근소근 > 한식루트 인증</span>

            </div>
        </div>
        <div class="container mt-5">
            <div class="text-center">
                <img th:src="@{/images/total/bab.png}" width="5%">
            </div>

            <!--수정해야할 부분-->
            <!--title-->
            <h2 class="text-center py-2 mj">한식루트 인증 등록</h2>
            <!--content-->
            <section class="py-5">

                <!--*** content 넣어야할 부분 (넣고 아래 div height 700px 준거 없애줘야 할거임) ***-->
                <div>

                    <!--제목, 주소검색-->
                    <form th:action="@{/root/register/form/save}" id="registerForm" method="post">
                        <div class="mb-2 row">
                            <label for="title" class="col-sm-1 col-form-label">제목</label>
                            <div class="col-sm-11">
                                <input type="text" id="title" name="title" class="form-control">
                            </div>

                        </div>
                        <div class="mb-3 row">
                            <label for="query" class="col-sm-1 col-form-label">주소 검색</label>
                            <div class="col-sm-10">
                                <input type="text" id="query" name="query" th:value="${query}" class="form-control">
                            </div>
                            <div class="col-1 d-grid">
                                <button type="button" id="search-submit" class="btn btn-outline-primary">검색</button>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between h-100">

                            <!--left-->
                            <div class="d-flex flex-column justify-content-between" style="width: 60%;">
                                <!--top-->
                                <div id="map" style="width: 100%; min-height: 500px; flex-grow: 1;"></div>
                                <!--bottom-->
                                <div style="background-color: #E8DCD4; width: 100%;" class="py-2 ">
                                    <ul class="d-flex mb-0 flex-wrap" id="rootSaveList">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>

                            <!--right-->
                            <div class="h-100" style="width: 35%;">
                                <ul th:if="${searchData}" style="background-color: #E8DCD4;" class="p-3 h-100 mb-0">
                                    <li id="restaurant" th:each="searchData : ${searchData}" class="d-flex flex-row p-2 h-100" >
                                        <div class="my-2" style="width: 90%;">
                                            <h6 th:utext="${searchData.title}" style="font-weight: bold " name="click-address" th:data-lat="${searchData.latitude}" th:data-lng="${searchData.longitude}"></h6>
                                            <p th:text="'카테고리: ' + ${searchData.category}" class="mb-2" style="font-size: 14px; color: #777"></p>
                                            <p th:text="'지번: ' + ${searchData.address}" class="mb-2" style="font-size: 14px; color: #444"></p>
                                            <p th:text="'도로명: ' + ${searchData.roadAddress}" class="mb-0" style="font-size: 14px; color: #444"></p>
                                            <input type="hidden" id="latitude" th:value = "${searchData.latitude}" />
                                            <input type="hidden"  id="longitude" th:value = "${searchData.longitude}"/>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center" style="width: 10%">
                                            <div class="checkbox-form">
                                                <input type="checkbox" name="checkbox" class="root-checkbox-input"
                                                       th:data-title="${searchData.title}"
                                                       th:data-address="${searchData.address}"
                                                       th:data-roadaddress="${searchData.roadAddress}"
                                                       th:data-latitude="${searchData.latitude}"
                                                       th:data-longitude="${searchData.longitude}"
                                                       th:data-link="${searchData.link}"
                                                       th:data-category="${searchData.category}"

                                                />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" id="rootListData" name="rootList">
                        <div class="d-flex justify-content-between mt-3">
                            <input type="button" id="map-button" class="btn btn-outline-secondary" value="루트 확인">
                            <input type="button" id="form-submit" name="form-submit" value="저장" class="btn btn-primary">

                        </div>
                    </form>

                    <form id="searchForm" th:action="@{/root/register/form/search}" method="get">
                        <input type="hidden" id="hiddenQuery" name="query">
                    </form>

                </div>
            </section>
        </div>

        <script th:inline="javascript" layout:fragment="script">
            let locations = /*[[${searchData}]]*/ [];
            let map;
            let marker;
            let polyline;

            // 페이지 로드 시 동작
            document.addEventListener("DOMContentLoaded", () => {
                updateSavedList();
                setMap(37.5666805, 126.9784147);
                checkboxState();

                if (localStorage.getItem("savedCheckRoot")) {
                    localStorage.setItem("checkRoot", localStorage.getItem("savedCheckRoot"));
                    localStorage.removeItem("savedCheckRoot");  // 임시 저장한 데이터 제거
                    checkboxState();  // 체크박스 다시 적용
                    updateSavedList();  // 리스트 다시 업데이트
                    drawPolyline();  // 경로 다시 그리기
                }

                const savedTitle = localStorage.getItem("savedTitle");
                if (savedTitle) {
                    document.getElementById("title").value = savedTitle;
                }
            });

            // 주소 검색 동작
            document.getElementById("search-submit").addEventListener("click", function () {
                const query = document.getElementById("query").value;

                // 검색 시 결과가 없을 경우
                if(query.length === 0) {
                    alert("검색 결과가 없습니다. 정확한 키워드를 입력해주세요.")
                }

                localStorage.setItem("savedCheckRoot", localStorage.getItem("checkRoot"));
                document.getElementById("hiddenQuery").value = query;
                document.getElementById("searchForm").submit();

            });

            // 검색 시 타이틀 초기화 방지
            document.getElementById("title").addEventListener("input", function () {
                localStorage.setItem("savedTitle", this.value);
            });




            // 맵 초기 설정
            function setMap(lat, lng) {
                map = new naver.maps.Map("map", {
                    center: new naver.maps.LatLng(lat, lng),
                    zoom: 16, // 값이 클수록 확대
                    zoomControl: true,
                    mapTypeControl: true
                });
                drawPolyline();
            }




            // title 체크 시 지도/마커
            document.querySelectorAll('h6[name="click-address"]').forEach((data) => {
                data.addEventListener("click", function () {
                    const lat = parseFloat(data.dataset.lat);
                    const lng = parseFloat(data.dataset.lng);

                    map.setCenter(new naver.maps.LatLng(lat, lng));
                    if (marker) marker.setMap(null);

                    marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(lat, lng),
                        map: map,
                        icon: {
                            content: `<img width="25" height="25" src="https://img.icons8.com/stickers/30/standing-man-skin-type-1.png" alt="marker"/>`,
                            anchor: new naver.maps.Point(15, 18)
                        },
                        animation: naver.maps.Animation.BOUNCE
                    });
                });
            });

            // const clickAddress = document.getElementsByName('click-address');
            //
            // Array.from(clickAddress).forEach((data)=>{
            //     data.addEventListener('click', function (){
            //
            //         const lat = parseFloat(data.dataset.lat);
            //         const lng = parseFloat(data.dataset.lng);
            //
            //         console.log(lat);
            //         console.log(lng);
            //
            //         // 체크 시 map 새로 초기화
            //         map.setCenter(new naver.maps.LatLng(lat, lng));
            //
            //         if (marker) {
            //             marker.setMap(null);
            //         }
            //
            //         // 체크 시 해당 좌표 마커
            //         marker = new naver.maps.Marker({
            //             position: new naver.maps.LatLng(lat, lng),
            //             map: map,
            //             // icon: {
            //             //     url: '/images/root/pin.png', // 50 68
            //             //     size: new naver.maps.Size(25, 34),
            //             //     scaledSize: new naver.maps.Size(25, 34),
            //             //     origin: new naver.maps.Point(0, 0),
            //             //     anchor: new naver.maps.Point(12, 34)
            //             // },
            //             icon: {
            //                 content: `<img width="25" height="25" src="https://img.icons8.com/stickers/30/standing-man-skin-type-1.png" alt="standing-man-skin-type-1"/>`,
            //                 anchor: new naver.maps.Point(15, 18)
            //             },
            //             animation: naver.maps.Animation.BOUNCE
            //         });
            //     })
            // })


            // 체크박스 이벤트 처리
            document.querySelectorAll('input[name="checkbox"]').forEach((checkbox) => {
                checkbox.addEventListener("change", function () {
                    const obj = {
                        title: checkbox.dataset.title,
                        address: checkbox.dataset.address,
                        roadaddress: checkbox.dataset.roadaddress,
                        latitude: checkbox.dataset.latitude,
                        longitude: checkbox.dataset.longitude,
                        link: checkbox.dataset.link,
                        category: checkbox.dataset.category,

                    }
                    // console.log(typeof obj);
                    let localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];
                    // console.log(typeof localChkData);
                    if (this.checked) {
                        // some 하나라도
                        if (!localChkData.some(item => item.title === obj.title)) {
                            localChkData.push(obj);

                        }
                    } else {
                        // 체크되지 않았으면 지우기
                        localChkData = localChkData.filter(item => item.title !== obj.title);
                        // removeFromLocalStorage(obj);
                    }

                    localStorage.setItem("checkRoot", JSON.stringify(localChkData));
                    updateSavedList();
                    drawPolyline();

                });
            });

            // 체크박스 상태
            function checkboxState() {

                let localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];

                document.querySelectorAll('input[name="checkbox"]').forEach((checkbox) => {
                    checkbox.checked = localChkData.some(item => item.title === checkbox.dataset.title);
                });
            }


            // 리스트에 값 넣기
            function updateSavedList() {
                const rootSaveList = document.getElementById("rootSaveList");
                rootSaveList.innerHTML = "";
                const localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];

                if (localChkData.length === 0) {
                    rootSaveList.innerHTML = "<li> 위치를 추가하세요 </li>";
                    return;
                }

                localChkData.forEach((item) => {
                    const li = document.createElement("li");

                    const cleanTitle = item.title.replace(/<b>/g, '').replace(/<\/b>/g, '');
                    li.textContent = cleanTitle;
                    li.classList.add("root-list-style");

                    // 삭제 버튼 추가
                    const removeBtn = document.createElement("button");

                    const icon = document.createElement("i");
                    icon.classList.add("bi", "bi-x");

                    removeBtn.appendChild(icon);
                    removeBtn.classList.add("root-button-style");

                    removeBtn.addEventListener("click", (event) => {
                        event.stopPropagation(); // 부모 요소(li)의 클릭 이벤트 방지
                        removeFromLocalStorage(item);
                    });

                li.appendChild(removeBtn);

                li.dataset.title = item.title
                li.dataset.address = item.address
                li.dataset.roadaddress = item.roadaddress
                li.dataset.latitude = item.latitude
                li.dataset.longitude = item.longitude
                li.dataset.link = item.link
                li.dataset.category = item.category

                rootSaveList.appendChild(li);
            });
        }


            document.getElementById("rootSaveList").addEventListener("click", function (event) {

                // contains : 지정한 문자열 포함하는 요소 선택 / closest : 선택한 요소 포함하면서 가장 가까운 상위 요소 선택
                if (event.target.classList.contains("root-list-style") || event.target.closest(".root-list-style")) {
                    const ele = event.target.closest(".root-list-style");

                    const lat = parseFloat(ele.dataset.latitude);
                    const lng = parseFloat(ele.dataset.longitude);

                    console.log(lat);
                    console.log(lng);

                    // 체크 시 map 새로 초기화
                    map.setCenter(new naver.maps.LatLng(lat, lng));

                    if (marker) {
                        marker.setMap(null);
                    }

                    // 체크 시 해당 좌표 마커
                    marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(lat, lng),
                        map: map,
                        // icon: {
                        //     url: '/images/root/pin.png', // 50 68
                        //     size: new naver.maps.Size(25, 34),
                        //     scaledSize: new naver.maps.Size(25, 34),
                        //     origin: new naver.maps.Point(0, 0),
                        //     anchor: new naver.maps.Point(12, 34)
                        // },
                        icon: {
                            content: `<img width="25" height="25" src="https://img.icons8.com/stickers/30/standing-man-skin-type-1.png" alt="standing-man-skin-type-1"/>`,
                            anchor: new naver.maps.Point(15, 18)
                        },
                        animation: naver.maps.Animation.BOUNCE
                    });
                }

            })


        // 로컬스토리지에서 값 삭제하는 함수
        function removeFromLocalStorage(value) {
            let localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];
            localChkData = localChkData.filter(item => item.title !== value.title);
            localStorage.setItem("checkRoot", JSON.stringify(localChkData));

            document.querySelectorAll('input[name="checkbox"]').forEach((chk)=>{
                if(chk.dataset.title === value.title) chk.checked = false;
            })
            updateSavedList();
            drawPolyline();
        }

        // 라인 그리기
        function drawPolyline() {
            const localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];

            const path = localChkData.map(data => new naver.maps.LatLng(data.latitude, data.longitude))

            if(polyline) polyline.setMap(null);

            polyline = new naver.maps.Polyline({
                map: map,
                path: path,
                strokeColor: '#FA5858',
                strokeStyle: 'stroke',
                strokeWeight: 2
            });

            if (window.markers) window.markers.forEach(marker => marker.setMap(null));
            window.markers = [];

            // 순서대로 마커 추가
            localChkData.forEach(data => {

                const marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(data.latitude, data.longitude),
                    map: map,
                    icon: {
                        content: `<img width="24" height="24" src="https://img.icons8.com/tiny-color/32/map-pin.png" alt="map-pin"/>`,
                        anchor: new naver.maps.Point(14, 20)
                    }
                });

                window.markers.push(marker);

            });
        }

        // 루트 중앙 이동
        document.getElementById("map-button").addEventListener("click", function (){
            console.log("click")
            const localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];

            const path = localChkData.map((data)=>{
                console.log(data)
                return new naver.maps.LatLng(data.latitude, data.longitude)
            })

            // list 의 중앙값
            const center = getCenter(localChkData);

            // 중심 이동
            map.setCenter(center);

            // 경로에 맞게 줌 자동 조정
            const bounds = new naver.maps.LatLngBounds();
            path.forEach(coord => bounds.extend(coord));
            map.fitBounds(bounds);
        })

        // 중앙 값 구해서 설정
        function getCenter(localChkData) {
            let latSum = 0;
            let lngSum = 0;
            let cnt = localChkData.length;

            localChkData.forEach(data => {
                latSum += data.latitude;
                lngSum += data.longitude;
            });

            return new naver.maps.LatLng(latSum / cnt, lngSum / cnt);
        }

        // 저장
        document.getElementById("form-submit").addEventListener("click", function () {
            console.log("click");
            let rootList = JSON.parse(localStorage.getItem("checkRoot")) || [];
            document.getElementById("rootListData").value = JSON.stringify(rootList);
            localStorage.removeItem("checkRoot");
            localStorage.removeItem("savedTitle")
            document.getElementById("registerForm").submit();

        });

        // fetch 로 처리
        // document.getElementById("form-submit").addEventListener("click", function () {
        //     let title = document.getElementById("title").value;
        //     let rootList = JSON.parse(localStorage.getItem("checkRoot")) || [];
        //     console.log(rootList);
        //
        //     fetch("/root/register/form/save", {
        //         method: "POST",
        //         headers: {
        //             "Content-Type": "application/json",
        //             "Accept": "application/json"
        //         },
        //         body: JSON.stringify({
        //             title: title,
        //             rootList: rootList
        //         })
        //     })
        //         .then(response => response.json())
        //         .then(data => {
        //             console.log("성공fe", data);
        //             localStorage.removeItem("checkRoot");
        //             localStorage.removeItem("savedTitle")
        //
        //             window.location.href = "/root/register/save";
        //         })
        //         .catch(err => console.log("실패fe", err))
        //
        //
        // })

    </script>
    </main>
</html>