<html layout:decorate="~{layout}">
<main layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center page-total-main-bg mb-5 shadow-sm">
        <h2 class="text-center text-white py-2 font-bold-style">정석 레시피</h2>
    </div>
    <div class="container">
        <h2 class="text-center py-2">레시피 작성</h2>
        <!--content-->
        <section class="py-2">

            <!--*** content 넣어야할 부분 (넣고 아래 div height 700px 준거 없애줘야 할거임) ***-->



                <!-- **내용** -->

            <form method="post" th:action="@{/fm/create}" th:object="${fmRecipe}" enctype="multipart/form-data">
                <label for-="fmrecipeCategory" class="form-label"> 카테고리</label>
                <input type="text" name="fmrecipeCategory" id="fmrecipeCategory" >

                <label for-="fmrecipeTitle" class="form-label">제목</label>
                <input type="text" name="fmrecipeTitle" id="fmrecipeTitle" >

                <label for-="fmrecipeIngre" class="form-label"> 재료 및 분량</label>
                <input type="text" name="fmrecipeIngre" id="fmrecipeIngre" >

                <label for-="fmrecipeReady" class="form-label">준비하기</label>
                <input type="text" name="fmrecipeReady" id="fmrecipeReady" >

                <label for-="fmrecipeContent" class="form-label">레시피 내용</label>
                <input type="text" name="fmrecipeContent" id="fmrecipeContent" >


                <!-- 파일 업로드 -->
                    <label for="file" class="form-label">파일 업로드</label>
                    <input type="file" name="file" id="file" class="form-control">

                <input type="submit" class="btn btn-primary" value="질문저장">
            </form>



            <!--하단 줄 (필요에 따라 사용)-->
            <hr style="margin-top: 50px">
            <!--pagination-->

        </section>
    </div>

</main>
</html>