<html layout:decorate="~{layout}">
<main layout:fragment="content">
    <!--상단-->
    <div style="background-color: #F4E9E3">
        <div class="container py-2">

            <!--수정해야할 부분-->
            <span class="" style="color: #555; font-family: 'HakgyoansimWoojuR'; padding-left: 8px">소근소근 > 한식루트 인증</span>

        </div>
    </div>
    <div class="container mt-5">
        <div class="text-center">
            <img th:src="@{/images/total/bab.png}" width="5%">
        </div>

        <!--수정해야할 부분-->
        <!--title-->
        <h2 class="text-center py-2">한식루트 인증하기</h2>
        <!--content-->
        <section class="py-5">

            <!--*** content 넣어야할 부분 (넣고 아래 div height 700px 준거 없애줘야 할거임) ***-->
            <div style="height: 700px">
                <form th:action="@{/root/form/save}" method="post">
                    <div class="mb-2 row">
                        <label for="title" class="col-sm-1 col-form-label">제목</label>
                        <div class="col-sm-11">
                            <input type="text" id="title" name="title" class="form-control">
                        </div>

                    </div>
                    <div class="mb-3 row">
                        <label for="root-select" class="col-sm-1 col-form-label">루트 선택</label>
                        <div class="col" id="root-select">
                            <select id="form-select"  class="form-select" aria-label="Default select example">
                                <option class="option"
                                        th:each="root : ${rootList}"
                                        th:value="${root.rootSeq}"
                                        th:text="${root.rootTitle}"
                                >
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between h-100">
                        <div id="map" style="width: 100%; min-height: 500px; flex-grow: 1;"></div>

                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <input type="button" id="form-submit" name="form-submit" value="저장" class="btn btn-primary">
                    </div>

                </form>
            </div>

        </section>
    </div>
    <script th:inline="javascript" layout:fragment="script">
        let map;
        let marker;
        let polyline;

        // 페이지 로드 시 동작
        document.addEventListener("DOMContentLoaded", ()=>{
            setMap(37.5666805, 126.9784147);

        });

        function setMap(lat, lng) {
            map = new naver.maps.Map("map", {
                center: new naver.maps.LatLng(lat, lng),
                zoom: 16, // 값이 클수록 확대
                zoomControl: true,
                mapTypeControl: true
            });
        }

        document.getElementById("form-select").addEventListener("change", function () {
            let rootSeq = this.value;

            console.log("선택: " + rootSeq);

            if(!rootSeq) return;

            fetch(`/root/form/${rootSeq}`)
                .then(res => res.json())
                .then(data => {
                    console.log("list: ", data);

                    displayMap(data);
                })
                .catch(err => console.log("오류: ", err));
        });

        function displayMap(rootList) {
            rootList.forEach(data => {
                map.setCenter(new naver.maps.LatLng(data.rootListLatitude, data.rootListLongitude));

                if (marker) {
                    marker.setMap(null);
                }

                drawPolyline(rootList);

            });

        }

        // 라인 그리기
        function drawPolyline(line) {

            const path = line.map((data)=>{
                console.log(data)
                return new naver.maps.LatLng(data.rootListLatitude, data.rootListLongitude)
            })

            if(polyline) {
                polyline.setMap(null);
            }

            polyline = new naver.maps.Polyline({
                map: map,
                path: path,
                strokeColor: '#ff0000',
                strokeWeight: 3
            });

            if (window.markers) {
                window.markers.forEach(marker => marker.setMap(null));
            }
            window.markers = [];

            // 순서대로 마커 추가
            line.forEach((data, index) => {
                const marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(data.rootListLatitude, data.rootListLongitude),
                    map: map,
                    icon: {
                        content: `<div style="background-color: red; width: 20px; height: 20px; border-radius: 50%;"><span style="font-size: 12px; color: white; text-align: center">${index + 1}</span></div>`,
                        anchor: new naver.maps.Point(12, 12)
                    }                });

                window.markers.push(marker);

            });
        }



    </script>
</main>

</html>