/* 폰트 가져오기 */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jal_Haru';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Haru.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

/* ul의 list style 제거 */
ul {
    list-style: none;
}

/* 기본 폰트 */
html > body {
    font-family: "Jal_Haru","HakgyoansimWoojuR";

}

body {

}

main {

}


/* a링크 하이퍼링크 제거 */
a {
    text-decoration: none;
    color: #3c3b3b;
}

/* navbar 스크롤 고정 */
.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1022;
    box-shadow: 0 3px 7px rgba(0,0,0, 0.06);
}

/* 추후 네비바 드롭 색 변경시 사용 */
.dropdown-item:active,
.dropdown-item:focus {
    background-color: white !important;
    color: black !important;
}

/* 네비바 아이콘 회원 드롭바 */
.coll:hover,
.coll:focus {
    background-color: rgba(101,98,98,0.05);
    color: black !important;
}

/* 화면이 991px 미만이면 동작 (반응형) */
@media (max-width: 991px) {
    .media-sub-nav {
        justify-content: end;
    }
    .media-sub-nav>li {
        flex: 0 0 0;
    }


}

