.hidden {
    display: none;
}

.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1050;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
}

.custom-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
}
/* 배경을 못누르고 안보이게 만들었다요 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 반투명 */
    backdrop-filter: blur(5px); /* 반투면??? */
    z-index: 1040; /* 모달보다 한 단계 아래 */
    display: none; /* 기본적으로 숨김 */
}

/* 모달이 열릴 때만 배경 활성화 */
.modal-open .modal-overlay {
    display: block;
}
.custom-btn123 {
    font-size: 15px;
    background-color:  #ec8d53;
    border: 1px solid  #ec8d53;
    color: white;
    transition: background-color 0.3s;
}

.custom-btn123:hover {
    background-color: #865136; /* 조금 더 진하게 */
    border-color: #865136;
}

.modal-img{
    width: 100%;
    height: 400px;
}
.custom-modal .modal-body {
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
}
.modal-body {
    overflow-y: auto; /* 스크롤 */
    max-height: 70vh; /* 최대 높이 */
    word-wrap: break-word; /* 단어가 길어도 줄바꿈 */
    overflow-wrap: break-word; /* 최신 CSS 방식 */
    white-space: pre-wrap; /* 엔터 및 공백 유지하면서 줄바꿈 */
}



