/* weather.css */
.weather-card-container {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-card {
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 0; /* 각진 카드 */
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: pointer;
}

.weather-city {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    color: white;
}

.weather-summary {
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 1.2px;
    color: rgb(34, 151, 215);
}

.weather-temp {
    font-size: 2rem;
    color: white;
}

.weather-minmax-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-min,
.weather-max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
}

.weather-max {
    align-items: flex-start;
    border-left: 2px solid white;
}

.weather-max-heading,
.weather-min-heading {
    font-size: 0.7em;
    font-weight: 600;
    color: white;
}

.weather-max-temp,
.weather-min-temp {
    font-size: 0.6em;
    font-weight: 500;
    color: rgb(197, 197, 197);
}

/* 아이콘 크기 및 스타일 */
.weather-icon {
    display: block;
    margin: 15px 0;
    border-radius: 5px;
}
