<html layout:decorate="~{layout}">
    <main layout:fragment="content">
        <!--상단-->
        <div style="background-color: #F4E9E3">
            <div class="container py-2">

                <!--수정해야할 부분-->
                <span class="" style="color: #555; font-family: 'HakgyoansimWoojuR'; padding-left: 8px"> 한 끝 > 맛집 소개 </span>

            </div>
        </div>
        <div class="container mt-5">
            <div class="text-center">
                <img th:src="@{/images/total/밥그릇.png}" width="5%">
            </div>

            <!--수정해야할 부분-->
            <!--title-->
            <h2 class="text-center py-2">맛집 소개</h2>
            <!--content-->
            <section class="py-5">
                <form method="post"  th:object="${MjForm.mjForm}">

                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
                    <div th:replace="~{form_errors :: formErrorsFragment}"></div>

                    <div class="mb-3">
                        <label for="mjTitle" class="form-label">제목</label>
                        <input type="text"  id="mjTitle" name="mjTitle" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="mjContent" class="form-label">내용</label>
                        <textarea rows="15" id="mjContent" name="mjContent" class="form-control"></textarea>
                    </div>
                    <!--업데이트 확인용-->

                    <input type="submit" value="저장버튼" class="btn btn-danger">



                </form>



                <!--하단 줄 (필요에 따라 사용)-->
                <hr style="margin-top: 50px">
            </section>
        </div>

    </main>
</html>