<html layout:decorate="~{layout}">
    <main layout:fragment="content">
        <!--상단-->
        <div style="background-color: #F4E9E3">
            <div class="container py-2">

                <!--수정해야할 부분-->
                <span class="" style="color: #555; font-family: 'HakgyoansimWoojuR'; padding-left: 8px">소근소근 > 루트 인증</span>

            </div>
        </div>
        <div class="container mt-5">
            <div class="text-center">
                <img th:src="@{/images/total/밥그릇.png}" width="5%">
            </div>

            <!--수정해야할 부분-->
            <!--title-->
            <h2 class="text-center py-2">루트 인증</h2>
            <!--content-->
            <section class="py-5">

                <!--*** content 넣어야할 부분 (넣고 아래 div height 700px 준거 없애줘야 할거임) ***-->
                <div>

                    <!--제목, 주소검색-->
                    <form th:action="@{/tour/form}" method="post">
                        <div class="mb-2 row">
                            <label for="title" class="col-sm-1 col-form-label">제목</label>
                            <div class="col-sm-11">
                                <input type="text" id="title" name="title" class="form-control">
                            </div>

                        </div>
                        <div class="mb-3 row">
                            <label for="query" class="col-sm-1 col-form-label">주소 검색</label>
                            <form th:action="@{/tour/form}" method="get" >
                                <div class="col-sm-10">
                                    <input type="text" id="query" name="query" th:value="${query}" class="form-control">
                                </div>
                                <div class="col-1 d-grid">
                                    <input type="submit" id="search-submit" value="검색" class="btn btn-outline-primary">
                                </div>

                            </form>
                        </div>
                        <div class="d-flex justify-content-between h-100">

                            <!--left-->
                            <div class="d-flex flex-column justify-content-between" style="width: 60%;">
                                <!--top-->
                                <div id="map" style="width: 100%; min-height: 500px; flex-grow: 1;"></div>
                                <!--bottom-->
                                <div style="background-color: #E8DCD4; width: 100%;" class="py-2 ">
                                    <ul class="d-flex mb-0 flex-wrap" id="rootSaveList">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>

                            <!--right-->
                            <div class="h-100" style="width: 35%;">
                                <ul th:if="${searchData}" style="background-color: #E8DCD4;" class="p-3 h-100 mb-0">
                                    <li id="restaurant" th:each="searchData : ${searchData}" class="d-flex flex-row p-2 h-100" >
                                        <div class="my-2" style="width: 90%;">
                                            <h6 th:utext="${searchData.title}" name="click-address" th:data-lat="${searchData.latitude}" th:data-lng="${searchData.longitude}"></h6>
                                            <p th:text="'지번: ' + ${searchData.address}" class="mb-2" style="font-size: 14px; color: #444"></p>
                                            <p th:text="'도로명: ' + ${searchData.roadAddress}" class="mb-0" style="font-size: 14px; color: #444"></p>
                                            <input type="hidden" id="latitude" th:value = "${searchData.latitude}" />
                                            <input type="hidden"  id="longitude" th:value = "${searchData.longitude}"/>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center" style="width: 10%">
                                            <div class="checkbox-form">
                                                <input type="checkbox" name="checkbox" class="tour-checkbox-input"
                                                       th:data-title="${searchData.title}"
                                                       th:data-address="${searchData.address}"
                                                       th:data-roadaddress="${searchData.roadAddress}"
                                                       th:data-latitude="${searchData.latitude}"
                                                       th:data-longitude="${searchData.longitude}"
                                                />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <input type="submit" id="form-submit" name="form-submit" value="저장" class="btn btn-primary">
                        </div>

                    </form>
                </div>



            </section>
        </div>
        <script th:inline="javascript" layout:fragment="script">
            let locations = /*[[${searchData}]]*/ [];
            let map;
            let marker;
            let polyline;

            // 페이지 로드 시 동작
            document.addEventListener("DOMContentLoaded", ()=>{
                updateSavedList();
                setMap(37.5666805, 126.9784147);
                checkboxState();
            });

            // 맵 초기 설정
            function setMap(lat, lng) {
                map = new naver.maps.Map("map", {
                    center: new naver.maps.LatLng(lat, lng),
                    zoom: 16,
                    zoomControl: true,
                    mapTypeControl: true
                });
                drawPolyline();
            }


            // 검색 시 결과가 없을 경우
            if(locations.length === 0) {
                alert("검색 결과가 없습니다. 정확한 키워드를 입력해주세요.")
            }

            // title 체크 시 지도/마커
            const clickAddress = document.getElementsByName('click-address');

            Array.from(clickAddress).forEach((data)=>{
                data.addEventListener('click', function (){

                    const lat = parseFloat(data.dataset.lat);
                    const lng = parseFloat(data.dataset.lng);

                    console.log(lat);
                    console.log(lng);

                    // 체크 시 map 새로 초기화
                    map.setCenter(new naver.maps.LatLng(lat, lng));

                    if (marker) {
                        marker.setMap(null);
                    }

                    // 체크 시 해당 좌표 마커
                    marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(lat, lng),
                        map: map
                    });
                })
            })




            // 체크박스 이벤트 처리
            document.querySelectorAll('input[name="checkbox"]').forEach((checkbox) => {
                checkbox.addEventListener("change", function () {
                    const obj = {
                        title: checkbox.dataset.title,
                        address: checkbox.dataset.address,
                        roadaddress: checkbox.dataset.roadaddress,
                        latitude: checkbox.dataset.latitude,
                        longitude: checkbox.dataset.longitude
                    }
                    // console.log(typeof obj);
                    const localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];
                    // console.log(typeof localChkData);
                    if (this.checked) {
                        // some 하나라도
                        if (!localChkData.some(item => item.title === obj.title)) {
                            localChkData.push(obj);
                            localStorage.setItem("checkRoot", JSON.stringify(localChkData));
                        }
                    } else {
                        // 체크되지 않았으면 지우기
                        removeFromLocalStorage(obj);
                    }

                    drawPolyline();
                    updateSavedList();
                });
            });

            // 체크박스 상태
            function checkboxState() {

                let localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];

                document.querySelectorAll('input[name="checkbox"]').forEach((checkbox) => {
                    const isChecked = localChkData.some(item => item.title === checkbox.dataset.title);
                    checkbox.checked = isChecked;
                });
            }


            // 리스트에 값 넣기
            function updateSavedList() {
                const rootSaveList = document.getElementById("rootSaveList");
                rootSaveList.innerHTML = "";
                const localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];

                if (localChkData.length === 0) {
                    rootSaveList.innerHTML = "<li> 위치를 추가하세요 </li>";
                    return;
                }

                localChkData.forEach((item) => {
                    const li = document.createElement("li");

                    const cleanTitle = item.title.replace(/<b>/g, '').replace(/<\/b>/g, '');
                    li.textContent = cleanTitle;
                    li.classList.add("tour-list-style");

                    // 삭제 버튼 추가
                    const removeBtn = document.createElement("button");

                    const icon = document.createElement("i");
                    icon.classList.add("bi", "bi-x");

                    removeBtn.appendChild(icon);
                    removeBtn.classList.add("tour-button-style");

                    removeBtn.addEventListener("click", (event) => {
                        event.stopPropagation(); // 부모 요소(li)의 클릭 이벤트 방지
                        removeFromLocalStorage(item);
                    });

                li.appendChild(removeBtn);

                li.dataset.title = item.title
                li.dataset.address = item.address
                li.dataset.roadaddress = item.roadaddress
                li.dataset.latitude = item.latitude
                li.dataset.longitude = item.longitude



                rootSaveList.appendChild(li);
            });
        }


            const list = document.getElementsByClassName("tour-list-style");

            document.getElementById("rootSaveList").addEventListener("click", function (event) {

                // contains : 지정한 문자열 포함하는 요소 선택 / closest : 선택한 요소 포함하면서 가장 가까운 상위 요소 선택
                if (event.target.classList.contains("tour-list-style") || event.target.closest(".tour-list-style")) {
                    const ele = event.target.closest(".tour-list-style");

                    const lat = parseFloat(ele.dataset.latitude);
                    const lng = parseFloat(ele.dataset.longitude);

                    console.log(lat);
                    console.log(lng);

                    // 체크 시 map 새로 초기화
                    map.setCenter(new naver.maps.LatLng(lat, lng));

                    if (marker) {
                        marker.setMap(null);
                    }

                    // 체크 시 해당 좌표 마커
                    marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(lat, lng),
                        map: map
                    });
                }


            })




        // 로컬스토리지에서 값 삭제하는 함수
        function removeFromLocalStorage(value) {
            let localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];
            localChkData = localChkData.filter(item => item.title !== value.title);
            localStorage.setItem("checkRoot", JSON.stringify(localChkData));

            document.querySelectorAll('input[name="checkbox"]').forEach((chk)=>{
                if(chk.dataset.title === value.title){
                chk.checked = false;
                }
            })
            updateSavedList();
            drawPolyline();
        }

        // 라인 그리기
        function drawPolyline() {
            const localChkData = JSON.parse(localStorage.getItem("checkRoot")) || [];

            const path = localChkData.map((data)=>{
                console.log(data)
                return new naver.maps.LatLng(data.latitude, data.longitude)
            })

            if(polyline) {
                polyline.setMap(null);
            }

            polyline = new naver.maps.Polyline({
                map: map,
                path: path,
                strokeColor: '#ff0000',
                strokeWeight: 3
            });

            if (window.markers) {
                window.markers.forEach(marker => marker.setMap(null));
            }
            window.markers = [];

            // 순서대로 마커 추가
            localChkData.forEach((data, index) => {
                const marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(data.latitude, data.longitude),
                    map: map,
                    icon: {
                        content: `<div style="background-color: red; color: white; padding: 5px 8px; border-radius: 50%; font-size: 14px; font-weight: bold; cursor: pointer;" onclick="openUploadModal(${index})">${index + 1}</div>`,
                        anchor: new naver.maps.Point(12, 12)
                    }
                });

                window.markers.push(marker);
            });
        }

    </script>
    </main>
</html>