<html layout:decorate="~{layout}">
<main layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center page-total-main-bg mb-5 shadow-sm">
        <h2 class="text-center text-white py-2 font-bold-style">한식루트 인증</h2>
    </div>
    <div class="container py-5">
        <section>

            <!--*** content 넣어야할 부분 (넣고 아래 div height 700px 준거 없애줘야 할거임) ***-->
            <div>
                <div class="d-flex justify-content-between fs-6">
                    <h3 th:text="${root.rootTitle}"></h3>
                    <div class="d-flex align-items-center me-2" style="color: #333;">

                        <i class="bi bi-clock-fill me-2 mt-1" style="font-size: 12px"></i>
                        <span
                                th:text="${#temporals.format(root.rootDate, 'yyyy-MM-dd HH:mm')}"
                                th:attr="data-bs-title='수정: ' + ${#temporals.format(root.rootModifyDate, 'yyyy-MM-dd HH:mm')}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                style="cursor: pointer;">
                        </span>
                    </div>
                </div>
                <!-- **내용** -->

                <div class="card">
                    <div class="card-body">
                        <div id="map" style="width: 100%; min-height: 500px; flex-grow: 1;"></div>
                        <div style="width: 100%;" class="py-2 root-li">
                            <ul class="d-flex mb-0 flex-wrap" id="rootSelectList">
                                <li th:each="rootList : ${rootList}" th:text="${rootList.rootListIndex} + '. '
                                    + ${rootList.rootListTitle} + '&nbsp;&nbsp;' "></li>
                            </ul>
                        </div>
                        <div class="d-flex justify-content-end mt-4">
                            <a th:href="@{|/root/register/form/modify/${root.rootSeq}|}" sec:authorize="hasRole('ADMIN')" type="button"
                               class="btn btn-sm btn-outline-secondary me-2">수정</a>
                            <a href="javascript:void(0);" sec:authorize="hasRole('ADMIN')" class="btn btn-sm btn-outline-secondary"
                               id="delete-btn"
                               th:data-url="@{|/root/register/form/delete/${root.rootSeq}|}">
                                삭제
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <input type="button" id="map-button" class="btn btn-outline-secondary me-2" value="루트 확인">
                <a sec:authorize="isAuthenticated()" th:href="@{/root/form}"  class="btn btn-outline-secondary root-a-outline-se me-2">인증하기</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/root/register/list}"  class="btn btn-outline-secondary root-a-outline-se">목록</a>
            </div>
        </section>
    </div>

    <script th:inline="javascript" layout:fragment="script">
        let map;
        let marker;
        let polyline;

        let rootList = /*[[${root.rootList}]]*/ [];


        // 초기 map 설정
        function setMap() {
            map = new naver.maps.Map("map", {
                center: getCenter(rootList),
                zoom: 12, // 값이 클수록 확대
                zoomControl: true,
                mapTypeControl: true
            });

            naver.maps.Event.addListener(map, 'init', function () {
                if (rootList.length > 0) {
                    displayMap(rootList);
                    centerRootMove(rootList);
                }
            });
        }

        // 페이지 로드 시 동작
        document.addEventListener("DOMContentLoaded", () => {
            if (rootList.length > 0) {
                setMap();
            } else {
                setMap(37.5666805, 126.9784147);
            }

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));


        });

        // map 에 표시
        function displayMap(rootList) {
            if (!rootList || rootList.length === 0) return;

            drawPolyline(rootList);
        }

        // 라인 그리기
        function drawPolyline(line) {

            if (!line || line.length === 0) return;

            const path = line.map((data) => {
                // console.log(data)
                return new naver.maps.LatLng(data.rootListLatitude, data.rootListLongitude)
            })

            if (polyline) polyline.setMap(null);

            polyline = new naver.maps.Polyline({
                map: map,
                path: path,
                strokeColor: '#FE2E2E',
                strokeStyle: 'stroke',
                strokeWeight: 2
            });

            addMarkers(line);

        }

        // 마커 추가
        function addMarkers(line) {
            if (window.markers) {
                window.markers.forEach(marker => marker.setMap(null));
            }
            window.markers = [];

            // 순서대로 마커 추가
            line.forEach(data => {
                const marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(data.rootListLatitude, data.rootListLongitude),
                    map: map,
                    icon: {
                        content: `<img width="30" height="30" src="https://img.icons8.com/stickers/30/standing-man-skin-type-1.png" alt="marker"/>`,
                        anchor: new naver.maps.Point(14, 20)
                    }
                });

                window.markers.push(marker);

            });
        }


        // root 중앙 이동
        function centerRootMove(root) {

            if (!root || root.length === 0) return;

            const path = root.map(data => new naver.maps.LatLng(data.rootListLatitude, data.rootListLongitude))

            const center = getCenter(root);

            map.setCenter(center);

            // 경로에 맞게 줌 자동 조정
            const bounds = new naver.maps.LatLngBounds();
            path.forEach(coord => bounds.extend(coord));
            map.fitBounds(bounds);
        }

        // 버튼 클릭 시 중앙 이동
        document.getElementById("map-button").addEventListener("click", function () {
            console.log("click");
            centerRootMove(rootList);
        })

        // 중앙 값 구해서 설정
        function getCenter(root) {

            if (!root || root.length === 0) return new naver.maps.LatLng(37.5666805, 126.9784147);

            let latSum = 0;
            let lngSum = 0;
            let cnt = root.length;

            root.forEach(data => {
                latSum += data.latitude;
                lngSum += data.longitude;
            });

            return new naver.maps.LatLng(latSum / cnt, lngSum / cnt);
        }

        document.getElementById("delete-btn").addEventListener("click", function () {
            if (confirm("삭제하시겠습니까?")) {
                window.location.href = this.dataset.url;
            } else {
                console.log("취소");
            }
        })


    </script>

</main>

</html>
<link rel="stylesheet" type="text/css" th:href="@{/css/mj-design-css.css}">