<html layout:decorate="~{layout}">
<main layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center page-total-main-bg mb-5 shadow-sm">
        <h2 class="text-center text-white py-2 font-bold-style">한식루트 인증</h2>
    </div>
    <div class="container py-5">
        <!--content-->
        <section>

            <!--*** content 넣어야할 부분 (넣고 아래 div height 700px 준거 없애줘야 할거임) ***-->
            <div>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col" style="width: 10%;">상태</th>
                            <th scope="col" style="width: 5%;">No</th>
                            <th scope="col" style="width: 65%;" class="text-start">제목</th>
                            <th scope="col" style="width: 15%;">등록일</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="list : ${list}" class="text-center">
                            <td th:text="${list.rootState == true ? '활성화' : '비활성화'}"></td>
                            <td th:text="${list.getRootSeq()}"></td>
                            <td class="text-start"><a th:text="${list.getRootTitle()}"
                                                      th:href="@{|/root/register/detail/${list.getRootSeq()}|}"></a></td>
                            <td th:text="${#temporals.format(list.getRootDate,'YYYY-MM-dd HH:mm')} "></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <a th:href="@{/root/register/form}" sec:authorize="hasRole('ADMIN')" class="btn btn-outline-secondary root-a-outline-se mb-3">작성</a>
            </div>

        </section>
    </div>

</main>

</html>
<link rel="stylesheet" type="text/css" th:href="@{/mj-design-css.css}">