<footer th:fragment="footer" style="background-color: #C9B6A9">
    <div class="text-center h-100 py-4">
        <p style="color: #777">한식 끝판왕 : 五 頭 起</p>
        <p class="footer-text">명찬호, 이민정, 이승용, 김찬혁, 인상후</p>
        <p class="footer-text">김포 장기 이젠컴퓨터학원</p>
        <p style="color: #777; font-size: 13px;"><a href="https://github.com/ppoonging/ONEEND_TEAMPROJECT" target="_blank" style="text-decoration: none; color: #777;"><i class="bi bi-github me-2"></i>Git</a></p>
        <p style="color: #888; font-size: 12px;" class="mb-0">Icons by <a href="https://icons8.kr/" target="_blank" style="text-decoration: none; color: #777;">Icons8</a></p>
    </div>
</footer>