<header th:fragment="header" style="background-color: #fff;" class="pt-3">
    <div class="container d-flex justify-content-end" style="font-family: 'MapoGoldenPier';">
        <span style="border-right: 1px solid #ccc; font-size: 14px; color: #666;" class="px-2">회원가입 </span>
        <span class="px-2" style="font-size: 14px; color: #666;">로그인</span>
    </div>
    <div class="container">
        <!--로고-->
        <div class="d-flex justify-content-center show-item voter">
            <span style="font-size: 46px;">맛</span>
            <span class="mt-4" style="font-size: 14px; color: #383434">있는  관</span>
            <span style="font-size: 46px; color: #d6474a">광</span>
        </div>
    </div>

    <!--네비바-->
    <nav class="navbar navbar-expand-lg border-bottom w-100 sticky-top">
        <div class="container">
            <a class="navbar-brand hidden-item" href="#" th:if="width">
                <span style="font-size: 36px;">맛</span>
                <span style="font-size: 14px; color: #383434">있는 관</span>
                <span style="font-size: 36px;">광</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 169px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link me-5 fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            맛광 커뮤니티
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">자유게시판</a></li>
                            <li><a class="dropdown-item" href="#">맛집소개</a></li>
                            <li><a class="dropdown-item" href="#">SNS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link me-5 fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            맛광 레시피
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">한식 레시피</a></li>
                            <li><a class="dropdown-item" href="#">추천 레시피</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-5 fs-5" href="#">관광</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link me-5 fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            고객센터
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">공지사항</a></li>
                            <li><a class="dropdown-item" href="#">Q&A</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="row navbar-nav my-2 my-lg-0">
                    <li class="col fs-4">
                        <a href="#" style="color: #333"><i class="bi bi-search"></i></a>
                    </li>
                    <li class="col fs-4">
                        <a href="#" style="color: #333"><i class="bi bi-translate"></i></a>
                    </li>
                    <li class="col fs-3">
                        <a href="#" style="color: #333"><i class="bi bi-person-fill"></i></a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>


