<header th:fragment="header" id="header" class="bg-white pt-3 border-bottom sticky-top shadow-sm">
    <div class="container d-flex justify-content-end">
        <span th:text="${#authentication.name} + ' 님'" sec:authorize="isAuthenticated()" style=" font-size: 14px; color: #777; transform: translateY(1.8px)" class="px-2"></span>
        <a th:href="@{/users/signup}" sec:authorize="isAnonymous()" style="text-decoration: none">
            <span style="border-right: 1px solid #ccc; font-size: 14px; color: #777;" class="px-2">회원가입 </span>
        </a>

        <a th:href="@{/users/login}" sec:authorize="isAnonymous()"  style="text-decoration: none">
            <span class="px-2" style="font-size: 14px; color: #777;">로그인</span>
        </a>
        <a th:href="@{/users/logout}" sec:authorize="isAuthenticated()"  style="text-decoration: none">
            <span class="px-2" style="font-size: 14px; color: #777;">로그아웃</span>
        </a>
    </div>

    <!--네비바-->
    <div id="navbar" class="container-fluid" style="background-color: white;">
        <nav class="navbar navbar-expand-lg w-100">
            <div class="container">
                <a class="me-3" th:href="@{/}">
                    <img th:src="@{/images/total/logo.png}" width="90%">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 169px;">
                        <li class="nav-item dropdown">
                            <!--맛광커뮤니티-->
                            <a class="nav-link me-5 fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                레시피
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/fm/recipe}">정석 레시피</a></li>
                                <li><a class="dropdown-item" th:href="@{/}">우리들의 레시피</a></li>
                            </ul>
                        </li>
                        <!--맛광레시피-->
                        <li class="nav-item dropdown">
                            <a class="nav-link me-5 fs-5" th:href="@{/mjboard/list}">맛집</a> <!-- 이렇게 수정 -->
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link me-5 fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                소근소근
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/freequestion/}">자유게시판</a></li>
                                <li><a class="dropdown-item" th:href="@{/root/list}">한식루트 인증</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-5 fs-5" th:href="@{/sns}">SNS</a>
                        </li>
                        <!--고객센터-->
                        <li class="nav-item dropdown">
                            <a class="nav-link me-5 fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                고객센터
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/notion/}">공지사항</a></li>
                                <li><a class="dropdown-item" th:href="@{/customer/}">Q&A</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div>

                    </div>
                    <!--네비바 아이콘-->
                    <div class="navbar-nav">
                        <ul class="row my-2 my-lg-0 media-sub-nav" style="transform: translateY(5px)">
                            <!--팀 소개-->
                            <li class="col fs-4 pt-1" >
                                <a href="#" style="color: #333">
                                    <i class="bi bi-hand-index-thumb-fill" style="color: #ecd0c4"></i>
                                </a>
                            </li>
                            <!--채팅-->
                            <li class="col fs-4 pt-1" style="transform: translateX(3px)">
                                <a href="#" style="color: #333">
                                    <i class="bi bi-chat-dots-fill" style="color: #4c80e4"></i>
                                </a>
                            </li>
                            <!--회원-->
                            <li class="col fs-3 pt-1">
                                <div type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                    <i class="bi bi-person-fill" style="color: #555" th:attr="data-bs-title=${#authentication.name}"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top" sec:authorize="isAuthenticated()"></i>
                                </div>
                                <div class="collapse bg-white" id="collapseExample2" style="position: absolute; border: 1px solid #eee; border-radius: 10%; transform: translateX(-35%)" >
                                    <div class="py-2" style="font-size: 13px; display: flex; flex-flow: column; text-wrap: nowrap">
                                       <a th:href="@{/users/myPage}" class="coll py-1 px-3" style="color: #333; text-decoration: none">마이페이지</a>
                                       <a th:href="@{/favorite/my}" class="coll py-1 px-3" style="color: #333; text-decoration: none;">내 글 목록</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </div>
    <script th:inline="javascript" layout:fragment="script">
        document.addEventListener("DOMContentLoaded", () => {

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        });
    </script>
</header>



