<html layout:decorate="~{layout}">
    <main layout:fragment="content" style="background-color: white;">
        <!--상단-->
        <section id="section1" class="text-center " style="height: 450px; background-color: #c0bcbc" >
            <img width="100%" height="100%" class="opacity-50" th:src="@{/images/main/main-image-1.jpg}">
        </section>

        <!--지도/랭킹/날씨-->
        <section id="section2" class="container pt-5">

            <ul class="nav nav-tabs" id="regionTab">

            </ul>

            <div class="d-flex justify-content-between">
                <!--지도-->
                <div style="width: 65%; height: 700px;">
                    <div id="map" style="width: 100%; min-height: 690px;"></div>
                </div>
                <div style="width: 30%; height: 700px;">
                        <aside class="h-100">


                            <!-- 상세 날씨 정보 추가 -->
                         <!--       <div style="margin-top: 15px; padding: 10px;">
                                    <p style="font-size: 1rem; margin: 5px 0;">도시 : <span th:text="${weatherData.name}">도시명</span></p>
                                    <p style="font-size: 1rem; margin: 5px 0;">기온 : <span th:text="${weatherData.main.temp}">온도</span> °C</p>
                                    <p style="font-size: 1rem; margin: 5px 0;">습도 : <span th:text="${weatherData.main.humidity}">습도</span> %</p>
                                    <p style="font-size: 1rem; margin: 5px 0;">날씨 : <span th:text="${weatherData.weather[0].description}">날씨설명</span></p>
                                </div>
                                <body>
                                <div class="container">
                                    &lt;!&ndash; 지역 선택 버튼 &ndash;&gt;

                                    <div class="btn-group" role="group" aria-label="Location buttons">
                                        <a href="/weather?location=Seoul" class="btn btn-primary btn-sm">서울</a>
                                        <a href="/weather?location=Incheon" class="btn btn-primary btn-sm">인천</a>
                                        &lt;!&ndash; <a href="/weather?location=Gyeonggi_do" class="btn btn-primary btn-sm">경기도</a>
                                         <a href="/weather?location=Gangwon" class="btn btn-primary btn-sm">강원도</a>
                                         <a href="/weather?location=Gyeongsang" class="btn btn-primary btn-sm">경상도</a>
                                         <a href="/weather?location=Jeolla" class="btn btn-primary btn-sm">전라도</a>
                                         <a href="/weather?location=Busan" class="btn btn-primary btn-sm">부산</a>
                                         <a href="/weather?location=Daegu" class="btn btn-primary btn-sm">대구</a>&ndash;&gt;
                                    </div>

                                        <div th:if="${weatherData}">
                                            <p style="font-size: 1rem; margin: 5px 0;">도시 : <span th:text="${weatherData.name}"></span></p>
                                            <p style="font-size: 1rem; margin: 5px 0;">기온 : <span th:text="${weatherData.main.temp}"></span> °C</p>
                                            <p style="font-size: 1rem; margin: 5px 0;">습도 : <span th:text="${weatherData.main.humidity}"></span> %</p>
                                            <p style="font-size: 1rem; margin: 5px 0;">날씨 : <span th:text="${weatherData.weather[0].description}"></span></p>
                                        </div>
-->
                            <div class="calign-middle" style="height: 40%; border-bottom: 1px solid #eee">
                                <div class="d-flex justify-content-start">
                                    <h5 class="bold mb-3 ps-2 brutal-subscribe__title me-2" style="font-weight: bold">맛집에서 맛집으로</h5>
                                    <img width="40" height="40" src="https://img.icons8.com/external-flat-wichaiwi/64/external-food-soft-power-flat-wichaiwi.png" alt="external-food-soft-power-flat-wichaiwi"/>
                                </div>
                                <form id="directionsForm" class="p-2 border card" style="background-color: #eee">
                                    <div class="mb-1" style="height: 100px;">
                                        <div class="row mb-3 d-flex justify-content-center">
                                            <label class="col-sm-2 text-center me-1" style="font-size: 14px; padding: 0.3em 0.5em; border: 1px solid #fff; background-color: #C8AB8F; border-radius: 20px; color: #fff;">출발</label>
                                            <input type="hidden" id="start">
                                            <input class="col-sm-8 border-0" type="text" id="startValue" PLACEHOLDER="지도에서 출발지 선택" readonly>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <label class="col-sm-2 text-center me-1" style="font-size: 14px; padding: 0.3em 0.5em; border: 1px solid #fff; background-color: #C8AB8F; border-radius: 20px; color: #fff;">도착 </label>
                                            <input type="hidden" id="goal">
                                            <input class="col-sm-8 border-0" id="goalValue" PLACEHOLDER="지도에서 도착지 선택" readonly>
                                        </div>
                                    </div>
                                    <p class="text-end" style="font-size: 11px; color: #555">(자동차 기준)</p>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" id="search-submit" class="cssbuttons-io-button mb-2">
                                            최적 거리 보기
                                            <div class="icon">
                                                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
                                                </svg>
                                            </div>
                                        </button>
                                    </div>
                                    <div id="info" class="fs-6 text-center text-danger mb-3"></div> <!-- 거리, 소요시간 표시 -->
                                </form>
                            </div>

                            <div class="align-bottom mt-3" style="height: 60%">
                                <div class="p-2">
                                    <div class="d-flex justify-content-start">
                                        <h5 class="bold mb-3 ps-2 brutal-subscribe__title me-2" style="font-weight: bold">레시피 추천</h5>
                                        <img width="40" height="40" src="https://img.icons8.com/pulsar-color/48/cookbook.png" alt="cookbook"/>

                                    </div>
                                    <div class="container-recipe">
                                        <div class="mb-2 card-recipe">
                                            <div class="w-100 d-flex justify-content-center align-items-center">
                                                <span class="d-inline-block" style="width: 10%">1</span>
                                                <span class="d-inline-block" style="width: 30%">국</span>
                                                <span class="d-inline-block" style="width: 50%">김치찌개</span>
                                            </div>
                                        </div>
                                        <div class="mb-2 card-recipe">
                                            <div class="w-100 d-flex justify-content-center align-items-center">
                                                <span class="d-inline-block" style="width: 10%">2</span>
                                                <span class="d-inline-block" style="width: 30%">국</span>
                                                <span class="d-inline-block" style="width: 50%">김치찌개</span>
                                            </div>
                                        </div>
                                        <div class="mb-2 card-recipe">
                                            <div class="w-100 d-flex justify-content-center align-items-center">
                                                <span class="d-inline-block" style="width: 10%">3</span>
                                                <span class="d-inline-block" style="width: 30%">국</span>
                                                <span class="d-inline-block" style="width: 50%">김치찌개</span>
                                            </div>
                                        </div>
                                        <div class="mb-2 card-recipe">
                                            <div class="w-100 d-flex justify-content-center align-items-center">
                                                <span class="d-inline-block" style="width: 10%">4</span>
                                                <span class="d-inline-block" style="width: 30%">국</span>
                                                <span class="d-inline-block" style="width: 50%">김치찌개</span>
                                            </div>
                                        </div>
                                        <div class="mb-2 card-recipe">
                                            <div class="w-100 d-flex justify-content-center align-items-center">
                                                <span class="d-inline-block" style="width: 10%">5</span>
                                                <span class="d-inline-block" style="width: 30%">국</span>
                                                <span class="d-inline-block" style="width: 50%">김치찌개</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                </div>
            </div>
        </section>

        <!--게시판-->
        <section id="section3" class="container pt-5 mt-5">
            <h3>#인기 맛집</h3>
            <div class="row" style="height: 450px">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="board : ${top9MjBoard}" style="text-align: center;">
                            <div class="card-mj">
                                <a th:href="@{'/mjboard/detail/' + ${board.mjSeq}}" style="text-decoration: none;">
                                    <img th:src="${imageUrlMap[board.mjSeq]} ? ${imageUrlMap[board.mjSeq]} : '/images/total/default.png'"
                                         alt="썸네일"
                                         style="width: 90%; height: 80%; object-fit: cover; border-radius: 10px;">
                                    <h5 th:text="${board.mjTitle}" style="margin-top: 10px; color: black;"></h5>
                                    <p th:text="${board.mjMapTitle}" style="font-size: 14px; color: gray;"></p>
                                    <p th:text="'조회수: ' + ${board.mjCnt}" style="font-size: 12px; color: gray;"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>

        <!--기타-->
        <section id="section4" class="container py-5 mt-5">
            <div class="row d-flex justify-content-between" style="height: 100%">
                <!-- 게시판 -->
                <div style="width: 35%">
                    <div class="d-flex justify-content-between" style="border-bottom: 2px solid black" >
                        <h4 class="mb-0">자유 게시판</h4>
                        <a th:href="@{/freequestion/}" style="text-decoration: none; color: #c8aa95"><i class="bi bi-plus fs-3"></i></a>
                    </div>
                    <ul class="ps-0">
                        <li th:each="freeboard : ${freeQuestionBoard}" class="py-2" style="border-bottom: 1px solid #e1e1e1">
                            <a th:href="@{|/freequestion/detail/${freeboard.frboSeq}|}" class="d-flex justify-content-between" style="text-decoration: none; color: #333; font-size: 15px">
                                <span th:text="${freeboard.frboSeq}" style="width: 10%;" class="ps-2"></span>
                                <span th:text="${freeboard.frboTitle}" class="line-text" style="width: 55%;"></span>
                                <span th:text="${#temporals.format(freeboard.frboRegDate, 'yyyy-MM-dd')}" class="text-end pe-2" style="width: 35%;"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 게시판 -->
                <div style="width: 35%">
                    <div class="d-flex justify-content-between" style="border-bottom: 2px solid black" >
                        <h4 class="mb-0">진행중인 루트 이벤트</h4>
                        <a th:href="@{/root/list}" style="text-decoration: none; color: #c8aa95"><i class="bi bi-plus fs-3"></i></a>
                    </div>
                    <ul class="ps-0">
                        <li th:each="rootList : ${rootList}" class="py-2" style="border-bottom: 1px solid #e1e1e1">
                            <a th:href="@{|/root/register/detail/${rootList.rootSeq}|}" class="d-flex justify-content-between" style="text-decoration: none; color: #333; font-size: 15px">
                                <span th:text="${rootList.rootSeq}" style="width: 10%;" class="ps-2"></span>
                                <span th:text="${rootList.rootTitle}" class="line-text" style="width: 55%;"></span>
<!--                                <span th:text="${#temporals.format(rootList.frboRegDate, 'yyyy-MM-dd')}" class="text-end pe-2" style="width: 35%;"></span>-->
                            </a>
                        </li>
                    </ul>
                </div>
                <div style="width: 30%; border: 1px solid #eee; border-radius: 10px; background-color: #baa491;">
                    <div class="d-flex justify-content-center align-items-center">
                        <span style="font-weight: 500; font-size: 36px;">
                            Q&A
                        </span>
                    </div>
                </div>
            </div>

        </section>

        <div class="btn-group" role="group" aria-label="Location buttons">
            <a href="/weather?location=Seoul" class="btn btn-primary btn-sm">서울</a>
            <a href="/weather?location=Incheon" class="btn btn-primary btn-sm">인천</a>
        </div>

        <!-- 오른쪽 상단 자연스러운 날씨 카드 -->
        <div class="weather-card-container" id="weatherCard" th:if="${weatherData}">
            <div class="weather-card">
                <p class="weather-city" th:text="${weatherData.name}">도시명</p>
                <!-- 아이콘 -->
                <img th:src="${weatherIcon}" alt="날씨 아이콘" class="weather-icon">

                <!-- 온도, 설명 -->
                <div class="weather-info">
                    <p class="weather-temp" th:text="${weatherData.main.temp + ' °C'}">32°C</p>
                    <p class="weather-summary" th:text="${weatherData.weather[0].description}">맑음</p>
                </div>

                <!-- 날짜, 습도 -->
                <div class="weather-details">
                    <p>날짜 : <span th:text="${today}">2025-03-13</span></p>
                    <p>습도 : <span th:text="${weatherData.main.humidity}">25</span> %</p>
                </div>
            </div>
        </div>

        </body>
    </main>
    <!-- From Uiverse.io 날씨어플-->

    <!-- ✅ 고정 날씨 카드: 꼭 <main> 바깥 -->

</html>

<link rel="stylesheet" type="text/css" th:href="@{/weather.css}">
<link rel="stylesheet" type="text/css" th:href="@{/main.css}">


<script th:inline="javascript">
    let map;
    let mjboard = /*[[${mjboard}]]*/ [];
    let markerList = [];

    let imageUrlMap = /*[[${imageUrlMap}]]*/ {};

    let routeLine = null;

    console.log("있니?" + mjboard);

    let swiper = new Swiper('.swiper', {
        slidesPerView: 4,
        direction: getDirection(),
        spaceBetween: 20,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        on: {
            resize: function () {
                swiper.changeDirection(getDirection());
            },
        },
    });

    function getDirection() {
        let windowWidth = window.innerWidth;
        let direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

        return direction;
    }


    document.addEventListener('DOMContentLoaded', function() {
        const weatherCard = document.getElementById('weatherCard');
        let lastScrollY = window.scrollY;

        window.addEventListener('scroll', function() {
            // 현재 스크롤 위치
            const currentScrollY = window.scrollY;

            // 이동할 위치  처음~나중에 까지 120까지 먹힘
            const targetTop = currentScrollY + 120;

            // 부드럽게 이동 (CSS transition이 알아서 처리)
            weatherCard.style.top = targetTop + 'px';

            // 현재 위치 저장 (필요 시 사용)
            lastScrollY = currentScrollY;
        });

        setMap(new naver.maps.LatLng(36.751351, 128.0316113)); // 기본 지도 위치


        // 지도 Tab 관리
        let addrList = mjboard.map(data => data.mjMapAddress);
        let Regions = regionAddress(addrList);
        console.log("추출된 지역 리스트: ", Regions);

        const regionTab = document.getElementById('regionTab');
        regionTab.innerHTML = `
            <li class="nav-item">
                <span class="nav-link active" style="color: #1a1d20" onclick="onClickRegionTab(event, 'all')">전체</span>
            </li>
        `;

        Regions.forEach(region => {
            regionTab.innerHTML += `
                <li class="nav-item">
                    <span class="nav-link" style="color: #1a1d20" onclick="onClickRegionTab(event, '${region}')">${region}</span>
                </li>
            `;
        });

        // 최초 전체 마커 표시
        // updateMarkers('all');


    });

    // map
    function setMap(center) {
        map = new naver.maps.Map("map", {
            center: center,
            zoom: 7,
            zoomControl: true,
            mapTypeControl: true
        });

        let markersLoaded = false;
        naver.maps.Event.addListener(map, 'tilesloaded', function() {
            if (!markersLoaded) {
                updateMarkers('all');
                markersLoaded = true;
            }
        });

    }

    // 마커 설정
    function updateMarkers(value) {
        // 기존 마커 지도에서 제거
        markerList.forEach(marker => marker.setMap(null));
        markerList = [];

        // 지역 필터링 (all 이면 전체, 아니면 해당하는 value 값 필터링)
        let filter = value === 'all' ? mjboard : mjboard.filter(data => data.mjMapAddress.includes(value));

        console.log(`선택된 지역: ${value}, 마커 수: ${filter.length}`);

        const bounds = new naver.maps.LatLngBounds();

        // 필터링한 값으로 마커 재생성
        filter.forEach(data => {
            let location = new naver.maps.LatLng(data.mjMapLatitude, data.mjMapLongitude);
            let imgSrc = imageUrlMap[data.mjSeq] ? imageUrlMap[data.mjSeq] : '/images/total/default.png';

            const marker = new naver.maps.Marker({
                position: location,
                map: map,
                icon: {
                    content: `<img width="30" height="30" src="https://img.icons8.com/stickers/100/marker.png" alt="marker"/>`,
                    anchor: new naver.maps.Point(15, 30)
                }
            });

            const contentString = `
                <div class="iw_inner" style="
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    background: white;
                    max-width: 900px;
                    padding: 15px;
                    box-shadow: 0 2px 8px rgba(0,0,0,0.2);">
                <div class="d-flex">
                    <img src="${imgSrc}" class="card-img-top me-3" style="width: 80px; height: 80px; object-fit:cover;" alt="썸네일">
                    <div>
                        <h5 style="font-size: 13px;" class="font-bold-style">${data.mjMapTitle}</h5>
                        <h6 style="font-size: 11px; color: #555">${data.mjMapAddress}</h6>
                        <p class="mb-1" style="font-size: 11px;">${data.mjMapRodeAddress}</p>
                    </div>
                </div>
                <div>
                    <div class="text-center">
                        <a href="/mjboard/detail/${data.mjSeq}" style="font-size: 13px; padding: 5px 8px; border: 1px solid #fff; background-color: #ec8d53; border-radius: 20px; color: #fff;">자세히 보기</a>
                    </div>
                    <div class="text-end">
                        <button class="directionStart btn btn-sm btn-outline-secondary"
                            data-latitude="${data.mjMapLatitude}"
                            data-longitude="${data.mjMapLongitude}"
                            data-title="${data.mjMapTitle}">
                                출발</button>
                        <button class="directionGoal btn btn-sm btn-outline-secondary"
                                data-latitude="${data.mjMapLatitude}"
                                data-longitude="${data.mjMapLongitude}"
                                data-title="${data.mjMapTitle}">
                                도착</button>
                    </div>
                </div>

            </div>`;

            const infowindow = new naver.maps.InfoWindow({
                content: contentString,
                maxWidth: 550,
                backgroundColor: "none",
                borderColor: "none",
            });

            naver.maps.Event.addListener(map, "click", function () {
                infowindow.close();
            });

            naver.maps.Event.addListener(marker, "click", function () {
                map.setCenter(location);
                // map.setZoom(11);
                infowindow.open(map, marker);

                setTimeout(() => {
                    const startBtn = document.querySelector('.directionStart');
                    const goalBtn = document.querySelector('.directionGoal');

                    if (startBtn) {
                        startBtn.addEventListener('click', function () {
                            const latitude = this.dataset.latitude;
                            const longitude = this.dataset.longitude;
                            const title = this.dataset.title;
                            console.log('출발 ', latitude, longitude);
                            document.getElementById('start').value = `${longitude},${latitude}`;
                            document.getElementById('startValue').value = title;
                        });
                    }

                    if (goalBtn) {
                        goalBtn.addEventListener('click', function () {
                            const latitude = this.dataset.latitude;
                            const longitude = this.dataset.longitude;
                            const title = this.dataset.title;
                            console.log('도착 ', latitude, longitude);
                            document.getElementById('goal').value = `${longitude},${latitude}`;
                            document.getElementById('goalValue').value = title;
                        });
                    }
                }, 300);
            });

            markerList.push(marker);
            bounds.extend(location);
        });

        // 지도 중심 자동 이동
        if (markerList.length > 0) {
            map.fitBounds(bounds);
        } else {

            map.setCenter(new naver.maps.LatLng(36.751351, 128.0316113));
            map.setZoom(6);
        }
    }


    // 지도 주소 글자 추출
    function regionAddress(value) {
        const regionSet = new Set();
        value.forEach(address => {

            let region = address.substring(0, 2);
            if(region !== ''){
                regionSet.add(region);
            }
        });
        return Array.from(regionSet);
    }

    // 지도 Tab 이벤트
    function onClickRegionTab(e, value) {
        e.preventDefault();

        document.querySelectorAll('#regionTab .nav-link').forEach(data => {
            data.classList.remove('active');
        });

        e.target.classList.add('active');

        updateMarkers(value);
    }

    // 길찾기 버튼
    document.getElementById("directionsForm").addEventListener("submit", function (e) {
        e.preventDefault();

        const startInput = document.getElementById('start').value.trim();
        const goalInput = document.getElementById('goal').value.trim();

        if (!startInput || !goalInput) {
            alert("출발지와 도착지를 정확히 선택해주세요.");
            return;
        } else if(startInput === goalInput) {
            alert("출발지와 도착지를 다르게 선택하주세요");
            return;
        }

        // 기존 경로 초기화 (선 중복 방지)
        if (window.routeLine) window.routeLine.setMap(null);

        fetch(`/direction?start=${startInput}&goal=${goalInput}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);

                // 지도 그리기 함수 호출
                drawRoute(data.path);

                // 거리/시간 표시
                const distanceKm = (data.summary.distance / 1000).toFixed(2);
                const durationMin = Math.ceil(data.summary.duration / 60000);
                document.getElementById('info').innerText = `총 거리: ${distanceKm}km, 자동차 소요 시간: ${durationMin}분`;
            })
            .catch(error => console.error("길찾기 오류:", error));
    });


    // 출발/도착 라인 생성
    function drawRoute(pathList) {

        // Polyline (경로)
        const routePath = pathList.map(coord => new naver.maps.LatLng(coord[0], coord[1]));

        // 기존 라인 제거 (중복 방지)
        if (routeLine) routeLine.setMap(null);

        // 새 라인 생성
        routeLine = new naver.maps.Polyline({
            map: map,
            path: routePath,
            strokeColor: '#FF0000',
            strokeWeight: 5,
            strokeOpacity: 0.8
        });

        // 지도 중심을 출발지로 이동
        map.setCenter(routePath[0]);
    }


</script>