<html layout:decorate="~{layout}">
    <main layout:fragment="content" style="background-color: white;">
        <!--상단-->
        <section id="section1" class="text-center " style="height: 400px; background-color: #c0bcbc" >
            <h1 class="py-5">한식이란?</h1>
            <span>우리나라 고유의 음식이나 식사</span><br><br>
            <span>한식 열풍 #불고기 #김치 #떡볶이</span>
        </section>

        <!--지도/랭킹/날씨-->
        <section id="section2" class="container pt-5">
            <div class="d-flex justify-content-between">
                <div class="border" style="width: 65%; height: 600px;">지도</div>
                <div class="border" style="width: 30%; height: 600px;">
                        <aside class="h-100">
                            <div class="align-top" style="height: 33.3%">
                                랭킹
                            </div>
                            <div class="calign-middle border" style="height: 33.3%">
                                날씨
                            </div>
                            <div class="align-bottom" style="height: 33.3%">
                                기타 콘텐츠
                            </div>
                        </aside>

                </div>
            </div>
        </section>

        <!--게시판-->
        <section id="section3" class="container pt-5">
            <div class="row border" style="height: 500px">
                게시판
            </div>
        </section>

        <!--기타-->
        <section id="section4" class="container py-5">
            <div class="row border" style="height: 500px">
                기타
            </div>
        </section>
    </main>
</html>