<html layout:decorate="~{layout}">
<main layout:fragment="content">
    <!--상단-->
    <div style="background-color: #F4E9E3" class="border-bottom">
        <div class="container py-2 ">

            <!--수정해야할 부분-->
            <span class=""
                  style="color: #333; font-family: 'HakgyoansimWoojuR'; padding-left: 8px">소근소근 > 한식루트 인증</span>

        </div>
    </div>


    <!--수정해야할 부분-->
    <!--title-->

    <!--content-->
    <section class="">
        <div style="background-color: #333;">
            <div class="container">

                <div class="row py-5">
                    <h3 class="text-center text-white mb-5"># 루트 이벤트</h3>
                    <div th:each="root : ${root}" class="col-md-2 my-2">
                        <!-- From Uiverse.io by satyamchaudharydev -->
                        <a th:href="@{|/root/register/detail/${root.rootSeq}|}"
                           style="text-decoration: none; color: #1a1d20">
                            <div class="root-card">
                                <h3 class="card__title" th:text="${root.rootTitle}"></h3>
                                <p class="card__content">루트 자세히 보러가기 </p>
                                <div class="card__arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15"
                                         width="15">
                                        <path fill="#fff"
                                              d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <h2 class="text-start py-3 mb-5 root-border-bottom">루트 인증 현황</h2>

            <div class="col mb-3 ms-2 d-flex justify-content-start">
                <div class="input-group w-25">
                    <label class="input-group-text" for="search-chkCategory"
                           style="background-color: #333; color: white">루트</label>
                    <select class="form-select" id="search-chkCategory" name="search-chkCategory" th:value="${chkCategory}">
                        <option selected>전체</option>
                        <option th:each="root : ${root}" th:selected="${chkCategory == root.rootTitle}"
                                th:text="${root.rootTitle}"></option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-start flex-wrap" style="margin-bottom: 50px">
                <div th:each="rootAuth : ${rootAuthPage}" class="root-list-card-container">
                    <a th:href="@{|/root/detail/${rootAuth.rootAuthSeq}|}" class="root-list-card" style="text-decoration: none; color: #333">
                        <div class="content">
                            <div class="d-flex justify-content-between">
                                <p class="logo" th:text="'# ' + ${rootAuth.rootAuthSeq}"></p>
                                <div class="d-flex">
                                    <i class="bi bi-person-fill me-2"></i>
                                    <p class="logo" th:text="${rootAuth.userId.username}"></p>
                                </div>
                            </div>

                            <div class="root-list-box">
                                <p class="root-category" th:text="${rootAuth.root.rootTitle}"></p>
                            </div>

                            <div class="h6" th:text="${rootAuth.rootAuthTitle}"></div>
                            <div class="hover_content">
                                <p th:utext="${rootAuth.rootAuthContent}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!--하단 줄 (필요에 따라 사용)-->
            <!--pagination-->
            <div class="w-100 d-flex justify-content-end">
                <ul class="pagination d-flex justify-content-center align-items-center flex-grow-1 me-auto" th:if="${rootAuthPage.totalPages > 1}">
                    <li class="page-item" th:classappend="${!rootAuthPage.hasPrevious} ? 'disabled'">
                        <a class="page-link" href="javascript:void(0);" th:data-page="${rootAuthPage.number -1}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(0, rootAuthPage.totalPages -1)}"
                        th:if="${page >= rootAuthPage.number -2 and page <= rootAuthPage.number +2}"
                        th:classappend="${page==rootAuthPage.number} ? 'active'">
                        <a class="page-link" href="javascript:void(0);" th:data-page="${page}" th:text="${page +1}"></a>
                    </li>

                    <li class="page-item" th:classappend="${!rootAuthPage.hasNext} ? 'disabled'">
                        <a class="page-link" href="javascript:void(0);" th:data-page="${rootAuthPage.number +1}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <a th:href="@{/root/form}" sec:authorize="isAuthenticated()"  class="btn root-btn-style mb-3">글 작성</a>
            </div>
        </div>

        <form th:action="@{/root/list}" method="get" id="search-form">
            <input type="hidden" id="page" name="page" th:value="${rootAuthPage.number}">
            <input type="hidden" id="chkCategory" name="chkCategory" th:value="${chkCategory}">
        </form>

    </section>

    <script layout:fragment="script" type="text/javascript">

        // 루트 카테고리 선택 시
        document.getElementById('search-chkCategory').addEventListener('change', function () {
            document.getElementById("chkCategory").value = this.value;
            document.getElementById("page").value = 0;
            document.getElementById('search-form').submit();
        });

        // 페이지
        const page_element = document.getElementsByClassName('page-link');

        Array.from(page_element).forEach(function (el) {
            el.addEventListener("click", function () {
                document.getElementById("page").value = this.dataset.page;
                document.getElementById('search-form').submit();
            })
        })


    </script>

</main>

</html>
<link rel="stylesheet" type="text/css" th:href="@{/mj-design-css.css}">