
/* map tab */
.nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #C8AB8F !important;
    border-color: #C8AB8F #C8AB8F #fff;
    font-weight: bold;
    opacity: 100%;
}

.nav-tabs .nav-link {
    color: #8a8a8a !important;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s;
    padding: 4px 8px;
    opacity: 60%;
}

.nav-tabs .nav-link:hover {
    color: #fff !important;
    background-color: #C8AB8F;
    opacity: 80%;
}

.nav-tabs {
    border-bottom: 0;
    cursor: pointer;
}

/* 최적거리 계산 버튼 */
.cssbuttons-io-button {
    background: #ec8d53;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1em;
    font-size: 12px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #ec8d53;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #ec8d53;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #ec8d53;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 25%;
    height: 100%;

    justify-content: center;
    align-items: center;

}

@media (max-width: 760px) {
    .swiper-button-next {

        right: 10px;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        z-index: 20;
    }

    .swiper-button-prev {
        left: 10px;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        z-index: 20;

    }
}

.swiper-button-next:after  {
    /*display: none;*/

    color: #ec8d53;
}
.swiper-button-prev:after {
    color: #ec8d53;

}


/* card */
.card-mj {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all ease-in-out 0.3s;
}

.card-mj:hover {
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.06) 0px 4px 2px,
    rgba(0, 0, 0, 0.06) 0px 8px 4px, rgba(0, 0, 0, 0.06) 0px 16px 8px,
    rgba(0, 0, 0, 0.06) 0px 25px 16px;
}


/* 레시피 */
.card-recipe {
    margin: auto;
    background: #faefe7;
    width: 95%;
    height: 60px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: .2s all;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 15px;
    display: flex;
    align-content: center;
}

.card-recipe > span {
    display: block;
    margin: auto;
    max-width: 40px;
}

.container-recipe:hover .card-recipe {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.container-recipe:hover .card-recipe:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    background: #c8aa95;
    color: white;
}

.brutal-subscribe__title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-shadow: 3px 3px 0 rgb(230, 230, 230);
    color: #e68c51;
}

/* 텍스트 설정 */
.line-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
}

