/*root css*/
.root-checkbox-input {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #333;
    appearance: none;
    cursor: pointer;
    transition: background 0.1s;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.root-checkbox-input:checked {
    border-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #a89f94;
}

#search-data-list {
    border-bottom: 1px solid #ddd
}

#search-data-list:last-child {
    border-bottom: 0;
}

.root-list-style {
    font-size: 14px;
    margin-right: 5px;
    color: #555;
    cursor: pointer;
}

.root-remove-btn-style {
    border: 0;
    background: none;
    transform: translateY(2px);
}

.root-remove-btn-style > i  {
    font-size: 20px;
    font-weight: bold;
    color: #853a22;

}

.root-btn-style {
    border: 1px solid black !important;
    transition: border 0.3s ease-in-out;
}

.root-btn-style:hover {
    background-color: #D5C9C1 !important;
    border: 1px solid #B8A89E !important;
}

.root-a-outline-se {
    text-decoration: none;
    color: #6c757d;
}
.root-a-outline-se:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer !important;
}



#select-root {
    width: 300px;
}

#select-root option {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#root-image-modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#root-image-modal .close {
    position: absolute;
    top: 15px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#root-modal-image {
    max-width: 30%;
    max-height: 50vh;
    border-radius: 10px;
    display: block;
}

.root-li {
    background: rgb(246, 246, 246);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sns-card {
    padding: 20px;
    width: 330px;
    height: 500px;
    min-height: 150px;
    border-radius: 20px;
    background: #f6f6f6;
    box-shadow: 5px 5px 6px #dadada,
    -5px -5px 6px #f6f6f6;
    transition: 0.4s;
}

.sns-card:hover {
    translate: 0 -10px;
}

.sns-card-title {
    font-size: 16px;
    font-weight: 600;
    color: #3053a8;
    margin: 15px 0 0 10px;
}

.sns-card-image {
    width: 100%;
    height: 300px;
    min-height: 100px;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3,
    inset -8px -8px 10px #cfcfcf;
}

.sns-card-body {
    margin: 13px 0 0 10px;
    color: rgb(69, 69, 69);
    font-size: 15px;
}

.sns-footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #9c9c9c;
}

.sns-by-name {
    font-weight: 700;
}

/**/

/* From Uiverse.io by JohnnyCSilva */
.root-card {
    --border-radius: 0.75rem;
    --primary-color: #b5a4e1;
    --secondary-color: #3c3852;
    width: 210px;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
}

.root-card > * + * {
    margin-top: 1.1em;
}

.root-card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
}

.root-card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.root-card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
}

.root-card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root-card svg {
    transition: 0.2s;
}

/* hover */
.root-card:hover .card__title {
    color: #7257fa;
    text-decoration: underline;
}

.root-card:hover .card__arrow {
    background: #7257fa;
}

.root-card:hover .card__arrow svg {
    transform: translateX(3px);
}

.root-border-bottom {
    border-bottom: 2px solid #666;

}


.root-list-card-container {
    width: calc(30% + 33px); /* 한 줄에 3개 */
    min-width: 300px;
    margin: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root-list-card {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%; /* 더 넓게 */
    max-width: 100%;
    padding: 2em 2em;
    background: #FFF;
    box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.15);
    transition: all 0.35s ease;
}

.root-list-card::before, .root-list-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: orange;
    height: 4px;
}

.root-list-card::before {
    width: 0;
    opacity: 0;
    transition: opacity 0 ease, width 0 ease;
    transition-delay: 0.5s;
}

.root-list-card::after {
    width: 100%;
    background: white;
    transition: width 0.5s ease;
}

.root-list-card .content {
    width: 21em;
    max-width: 100%;

}

.root-list-card .logo {
    margin: 0 0 0.7em;
    transition: all 0.35s ease;
    padding-left: 5px;
}

.root-list-card .span {
    margin: 0 0 0.5em;
    background-color: #0b5ed7;
    width: 10.625em;
    padding: 10px 10px;
    transition: all 0.35s ease;
}

.root-category {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #7257fa;
    font-size: 14px;
}

.root-list-card .span .root-category {
    margin: 0 0 0.5em;
    width: 10.625em;
    transition: all 0.35s ease;
}

.root-list-card .h6 {
    color: #3a3a3a;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
    padding-left: 5px;
}

.root-list-card .hover_content {
    overflow: hidden;
    max-height: 0;
    transform: translateY(1em);
    transition: all 0.55s ease;
    padding-left: 5px;

}

.root-list-card .hover_content p {
    margin: 1.4em 0 0;
    color: #777777;
    line-height: 1.4em;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 2줄까지만 보이기 */
    -webkit-box-orient: vertical;
    max-height: none; /* 높이 제한 해제 (줄 수에 맞춰서 자동) */

}

.root-list-card:hover {
    width: 25em;
    box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.root-list-card:hover::before {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    transition-delay: 0;
}

.root-list-card:hover::after {
    width: 0;
    opacity: 0;
    transition: width 0 ease;
}

.root-list-card:hover .logo {
    margin-bottom: 0.5em;
}

.root-list-card:hover .hover_content {
    max-height: 10em;
    transform: none;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.8em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
    border: 1px solid #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

.brutal-subscribe__title {
    display: block;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-shadow: 3px 3px 0 rgb(158, 158, 111);
}