<html layout:decorate="~{layout}">
<main layout:fragment="content">
    <!--상단-->
    <div style="background-color: #F4E9E3; border-bottom: 3px solid #D87C61;">
        <div class="container py-2">
            <span style="color: #777; font-family: 'MapoGoldenPier', sans-serif; font-size: 18px; padding-left: 10px;">
                맛광 커뮤니티 > 상세보기
            </span>
        </div>
    </div>

    <!-- Main Content Container -->
    <div class="container mt-5">
        <div class="text-center">
            <img th:src="@{/images/total/logo.png}" width="140" class="rounded">
        </div>

        <h2 class="text-center py-4" style="font-family: 'MapoGoldenPier', serif; color: #D87C61; font-size: 32px;">상세보기</h2>

        <!-- Title Section with "제목" -->
        <div class="d-flex align-items-center border-bottom py-3">
            <span style="font-family: 'MapoGoldenPier', serif; color: #333; font-size: 28px; margin-right: 10px;">제목:</span>
            <h2 th:text="${mgNotion.notionTitle}" style="font-family: 'MapoGoldenPier', serif; color: #333; font-size: 28px;"></h2>
        </div>

        <div class="card my-4" style="border: 1px solid #D87C61; border-radius: 8px;">
            <div class="card-body">
                <!-- Content Section with "내용" -->
                <div class="my-4">
                    <span style="font-family: 'MapoGoldenPier', serif; color: #333; font-size: 24px;">내용</span>
                    <div class="card-text" style="white-space: pre-line; font-family: 'Noto Sans KR', sans-serif; color: #555; font-size: 18px;">
                        <p th:text="${mgNotion.notionContent}"></p>
                    </div>
                    <img th:if="${mgNotion.frboFilePath}"
                         th:src="@{${mgNotion.frboFilePath} + '?t=' + ${#dates.createNow().getTime()}}"
                         class="img-fluid rounded mb-4" alt="Uploaded Image" style="max-height: 500px; object-fit: cover;">
                </div>


                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-3" style="font-size: 16px; font-family: 'MapoGoldenPier', serif;"></div>
                </div>

                <div class="my-4">
                    <a th:href="@{|/notion/modify/${mgNotion.notionSeq}|}" class="btn btn-lg btn-outline-secondary"
                       style="font-family: 'MapoGoldenPier', serif; font-size: 16px;" th:text="수정"></a>
                    <a th:href="@{|/notion/delete/${mgNotion.notionSeq}|}"
                       class="delete btn btn-lg btn-outline-danger"
                       style="font-family: 'MapoGoldenPier', serif; font-size: 16px;" th:text="삭제"></a>
                </div>
            </div>
        </div>



    </div>
</main>

</html>